<div class="container">
  <div class="header">
    <h2>Product Management</h2>
  </div>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>

    @for (p of products(); track p.id) {
      <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
        <td>
          <button class="edit" (click)="edit(p.id)">Edit</button>
          <button class="delete" (click)="delete(p.id)">Delete</button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="4" class="no-data">No products found</td>
      </tr>
    }
  </table>

  <div class="form-container">
    <h3>{{ isEditMode() ? "Update Product" : "Create Product" }}</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" formControlName="name" placeholder="Product Name" />

      <input type="number" formControlName="price" placeholder="Price" />

      <button type="submit">
        {{ isEditMode() ? "Update" : "Create" }}
      </button>
    </form>
  </div>
</div>
