.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  width: 500px;
}

h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1e2330;
}

div {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: 0.85rem;
  color: #444;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

input:focus {
  outline: none;
  border-color: #264ec5;
  box-shadow: 0 0 0 2px rgba(38, 78, 197, 0.15);
}

button {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  background-color: #264ec5;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #1f3ea3;
  box-shadow: 0 4px 10px rgba(38, 78, 197, 0.3);
}

p {
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
  margin: 0;
  color: whitesmoke;
  font-weight: 600;
  line-height: 1.7;
  background: linear-gradient(120deg, #3b3b3b, #383d3f);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
