* {
  box-sizing: border-box;
}

html {
  font-family: Sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.divButtons {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #212022;
  color: #dad6dd;
  cursor: pointer;
  border-radius: 0.7rem;
}

button:hover {
  background-color: #dad6dd;
  color: #212022;
}
